*{
    margin: 0px;
}
body{width:90%;margin: 0 auto;min-width:600px;max-width:2000px}

body{

    background: rgb(30, 22, 100);
    color: white    ;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

h1{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

h1 strong{
    color: rgb(255, 255, 255);
}

.principal-section{
    text-align: center;
    color: rgb(47, 0, 255);
    background-image: url('img/sea.jpg');
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    padding: 50px;
    background-color: rgb(71, 36, 197);
}

.principal-section img{
    width: 300px;
}
.principal-section-button{
    width: 250px;
    height: 40px;
    background-color: #00ccc2;
    border-radius: 24px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}
.boton{
    width: 125px;
    height: 40px;
    background-color: #626bbd;
    border-radius: 24px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.boton a{
    text-decoration-line: unset;
}


.principal{
    background-size: 100px;
    background-color: rgb(35, 35, 35);
    text-align: center;
    font-size: 20px;
    padding: 10px;
    height: 317px;
}

.es{
    background-size: 200px;
    background-color: rgb(35, 35, 35);
    text-align: center;
    padding: 50px;
    font-size: 20px;
}
.es h2{
    color: white;
    margin-bottom: 10px;
}
.es p{
    margin-bottom: 20px;
    color: white;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    height: inherit;
}

.header a {
    color: rgb(67 75 231);
    text-decoration: none; 
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.header{
    background-color: rgb(35, 35, 35);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 10px;
}
.logo img{
    width: 85px;
}

.menu{
    height: inherit;
}
.header li{
    height: inherit;
}
.padre{
    background-color:rgb(35, 35, 35);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: right;
    height: 337px;
    width: 1517px;
    align-items: center;
}
.hijo{
    background-color: rgb(35, 35, 35);
    width: 500px;
    height: 200px;
    font-size: 30px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.video {
    text-align: center;
    padding: 40px;
}

.container1{
    display: flex;
    background-color:rgb(68, 68, 255) ;
    justify-content: space-between;
    
}

.col1-container1{
    padding: 20px;
}

.col1-container1 h2{
    color: white;
}

.col2-container1{
    padding: 20px;
    list-style: none;
}

.col2-container1 h2{
    text-align: center;
    color: white;
    
}

.col3-container1{
    padding: 20px;
}

.col3-container1 h2{
    text-align: center;
    color: white;
}

.container2{
    background-color: rgb(51, 11, 160);
    padding: 20px;
}
.row2-contactos img {
    width: 30px;
    padding: 5px;

}
.row1-contacto img {
    width: 30px;
    padding: 5px;
}
.row1-contacto {
    display: flex;
    padding: 10px;
}


.row2-contactos {
    display: flex;
    padding: 10px;
}
