*{
    margin: 0px;
}

body{
    background-color: rgb(48, 48, 161);
    font-family: 'Nunito', sans-serif;
    text-align: center;   
   
}

.principal-3{
    background-color: rgb(35, 35, 35);
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: rgb(177, 177, 177);
   
}
.principal-3 strong{
    color: rgb(255, 255, 255);
}
.beneficios strong{
    color: rgb(255, 255, 255);
}
h1{
    font-size: 1.5em;
}

.beneficios{
    padding: 20px;
    background-color: rgb(51, 11, 160);
    background-color: rgb(65, 40, 209);

}


ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    height: inherit;
}

.header-3 a {
    color: rgb(178, 169, 255);
    text-decoration: none; 
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.header-3{
    background-color: rgb(36, 28, 71);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 10px;
}
.logo-3 img{
    width: 85px;
}

.menu-3{
    height: inherit;
}
.header-3 li{
    height: inherit;
}